# Database Configuration
DB_URL=jdbc:postgresql://localhost:5433/auth_db
DB_USERNAME=postgres
DB_PASSWORD=postgres_password

# JWT Configuration
JWT_SECRET_KEY=your_super_secret_jwt_key_here
JWT_EXPIRATION=900000

# RabbitMQ Configuration
RABBITMQ_ADDRESSES=localhost
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/

# SMTP Mail Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-password-or-app-key
